p{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    gap: 10px;
    width: calc((100% / 7) - (60px / 7));
}


/* utils */
.bg-blue{
    background-color: blue;
}